<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.shacus">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Vita.ActionBar">
        <meta-data
            android:name="TencentMapSDK"
            android:value="JVYBZ-S7J3F-H2GJN-JD5YW-G3CDO-WTB7Z" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- SOSO 地图位置 -->
        <activity
            android:name=".Activity.SOSOLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GuideActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SPLASHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CreateYuePaiActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.PhotographerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Activity.FollowActivity" />
        <activity android:name=".Activity.FavoritemActivity" />
        <activity android:name=".Activity.WorksActiviy" />
        <activity android:name=".Activity.OrdersActivity" />
        <activity android:name=".Activity.ShareActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.CoursesActivity_item" />
        <activity android:name=".Activity.OrdersItemActivity" />
        <activity android:name=".Activity.OtherUserDisplayActivity" />
        <activity android:name=".Activity.SelectUserActivity" />
        <activity android:name=".Activity.OtherUserActivity" />
        <activity
            android:name=".Activity.TagAddActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".Activity.RateActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".Activity.PersonalInfoActivity" />
        <activity android:name=".Activity.PersonalInfoEditActivity" />
        <activity
            android:name=".Activity.YuePaiDetailActivity"
            android:theme="@style/AppTheme.YuePaiDetailActivity" />
        <activity android:name=".Activity.CourseWebViewActivity" />
        <activity
            android:name=".Activity.ConversationDynamicFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.pc.shacus"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PhotosAddActivity" />
        <activity android:name=".Activity.SignupActivity"
            android:windowSoftInputMode="adjustPan"/>

        <!--
        <activity
            android:name=".Activity.PhotosAddActivity"
            android:theme="@style/AppTheme.CreateActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".Activity.CoursesActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.CoursesActivity">
            <intent-filter>
                <action android:name="android.intent.action.COURSESACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OtherCourseActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.CoursesActivity">
            <intent-filter>
                <action android:name="android.intent.action.COURSESACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PhotosetDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PhotoselfDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PhotosetOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Reciever.ShacusNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.WantBePhotographActivity"
            android:label="@string/title_activity_want_be_photograph"
            android:theme="@style/Vita.ActionBar" />
        <activity
            android:name=".Activity.WantToPhotographActivity"
            android:label="@string/title_activity_want_to_photograph"
            android:theme="@style/Vita.ActionBar"></activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106028520" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" >
        </meta-data>

    </application>

</manifest>